* {
    main-bg:            #1e1e2eff;
    main-fg:            #cdd6f4ff;
    main-br:            #cba6f7ff;
    main-ex:            #f38ba8ff;
    select-bg:          #cba6f7ff;
    select-fg:          #11111bff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
