[Desktop Entry]
Name=Keybinds Hint (Cupcake)
Comment=View all Cupcake system shortcuts and keybinds
Exec=bash -c '$HOME/.config/cupcake/scripts/keybinds_hint.sh'
Icon=keyboard
Terminal=false
Type=Application
Categories=System;Utility;
Keywords=keybinds;shortcuts;help;cupcake;
